autograd==1.6.2
Cython==3.0.10
deepinv==0.3.6
diffeqtorch==1.0.0
gmpy2
h5py
jax
lightning
lpips==0.1.4
matplotlib==3.7.1
ninja
numdifftools
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.3
Pillow==9.4.0
POT==0.9.6.post1
pykeops
pytorch-ignite
pytorch-lightning
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.15.3
sympy
tensorboard
tensorboard-data-server
toolz
torch==2.9.1
torchdiffeq==0.2.5
torchmetrics==1.8.2
torchvision==0.24.1
tqdm==4.67.1
urllib3
ml_collections==1.1.0
